
BODY {
  margin: 0px;
  color: #000000;
  position:absolute;
  left:0px;
  top:0px;
  padding-left: 10;
  padding-right: 10;
  padding-top: 10;

  font-family: sans-serif;

  background: url(img/bg.png);
  background-repeat: repeat-y;
  background-color: #ffffff;

}

.border {
 border-top: 1px solid #444444;
 border-left: 1px solid #444444;
 border-bottom: 1px solid #222222;
 border-right: 1px solid #222222;
}

TABLE {
 border-top: thin solid #444444;
 border-left: thin solid #444444;
 border-bottom: thin solid #222222;
 border-right: thin solid #222222;
 background-color: transparent;
 font-size: 10pt;
 padding: 0;
}

H4 {
 border-bottom: 1px solid #222222;
 border-right: 1px solid #222222;
 padding: 2px;
 letter-spacing: 3;
 background-color: #6680a4;
 color: #ffffff;
 font-size: small;
 font-style: italic;
}

H3 {
 border-bottom: 1px solid #222222;
 border-right: 1px solid #222222;
 padding: 2px;
 background-color: #6680a4;
 color: #ffffff;

}

TH {
 border-bottom: 1px solid #222222;
 padding: 2px;
 background-color: #6680a4;
 color: #ffffff;
 text-align
}

A {
 color: navy;

}

.boxed {
 background-color: #eeeeee;
}

.boxed-menu {

}

/* the row colors in download section */
.rowone {
 background-color: #ffeeff;
}
.rowtwo {
 background-color: #eeffee;
}
